<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/adminElection.css" />
  </head>
  <body>
    <header>
      <!-- Your header content -->
    </header>

    <main>
      <div class="tableElection tableElectionCandidate">
        <h3>My Voting History</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Voted To</th>
              <th scope="col">Election Name</th>
              <th scope="col">Election Type</th>
              <th scope="col">Election Province</th>
              <th scope="col">Election City</th>
              <th scope="col">Election Region</th>
              <th scope="col">Vote Date</th>
            </tr>
          </thead>
          <tbody>
            <% if (votes && votes.length > 0) { %> <% votes.forEach((vote,
            index) => { %>
            <tr id="voteRow_<%= vote._id %>">
              <th scope="row"><%= index + 1 %></th>
              <td>
                <%= vote.CandidateId ? vote.CandidateId.FirstName + ' ' +
                vote.CandidateId.LastName : 'N/A' %>
              </td>
              <td><%= vote.ElectionId ? vote.ElectionId.Name : 'N/A' %></td>
              <td>
                <%= vote.ElectionId ? vote.ElectionId.ElectionType : 'N/A' %>
              </td>
              <td><%= vote.ElectionId ? vote.ElectionId.Province : 'N/A' %></td>
              <td><%= vote.ElectionId ? vote.ElectionId.City : 'N/A' %></td>
              <td><%= vote.ElectionId ? vote.ElectionId.Region : 'N/A' %></td>
              <td>
                <%= vote.createdAt ? vote.createdAt.toLocaleDateString() : 'N/A'
                %>
              </td>
            </tr>
            <% }); %> <% } else { %>
            <tr>
              <td colspan="8">No voting history available.</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <!-- Footer content -->
    </footer>
  </body>
</html>
